<template>
  <div class="home">
    <the-title :is-small="isSmall" />
    <grid-layout
      :layout.sync="layout"
      :responsive-layouts="layouts"
      :row-height="50"
      :is-draggable="true"
      :is-resizable="true"
      :is-mirrored="false"
      :vertical-compact="true"
      :margin="[10, 10]"
      :use-css-transforms="true"
      :auto-size="true"
      :responsive="true"
      :cols="columns"
      :breakpoints="breakpoints"
      @responsive-update="responsiveLayoutUpdated"
    >
      <grid-item
        v-for="(item, index) in layout"
        v-show="config[index].suffix === null || checkedSensors.includes(config[index])"
        :key="item.i"
        :x="item.x"
        :y="item.y"
        :w="item.w"
        :h="item.h"
        :i="item.i"
        :is-draggable="config[index].draggable"
        :drag-allow-from="'.drag-icon'"
      >
        <div>
          <drag-icon v-if="config[index].draggable" class="zoom x1-5" title="Grab & drag" />
          <h3>{{ config[index].title }}</h3>
          <widget-stations
            v-if="config[index].id === 'stations'"
            :stations="stations"
            :checked-stations="checkedStations"
            @checked-stations-changed="checkedStationsChanged"
            :location="location"
            :color-scheme="colorScheme"
            :is-small="isSmall"
            :is-extra-small="isExtraSmall"
            :display-archive="displayArchive"
            @display-archive-changed="displayArchiveChanged"
          />
          <widget-sensors
            v-if="config[index].id === 'sensors'"
            :sensors="sensors"
            :checked-sensors="checkedSensors"
            @checked-sensors-changed="checkedSensorsChanged"
            :is-small="isSmall"
            :is-extra-small="isExtraSmall"
            :display-archive="displayArchive"
          />
          <widget-time-archive
            v-if="config[index].id === 'timeline' && displayArchive"
            :date-bounds="dateBounds"
            @date-bounds-changed="dateBoundsChanged"
          />
          <widget-time-latest v-if="config[index].id === 'timeline' && !displayArchive" />
          <widget-data-archive
            v-if="config[index].suffix !== null && displayArchive"
            :date-bounds="dateBounds"
            :checked-stations="checkedStations"
            :name="config[index].title"
            :suffix="config[index].suffix"
            :call-name="config[index].id"
          />
          <widget-data-latest
            v-if="config[index].suffix !== null && !displayArchive"
            :checked-stations="checkedStations"
            :suffix="config[index].suffix"
            :call-name="config[index].id"
          />
          <resize-icon class="zoom x1-5 vue-resizable-handle" title="Resize" />
        </div>
      </grid-item>
    </grid-layout>
    <p>
      Data provided by
      <a
        href="https://www.meteostat.net"
        title="meteostat"
        target="_blank"
      >meteostat</a>. Meteorological data: Copyright &copy; National Oceanic and Atmospheric Administration (NOAA), Deutscher Wetterdienst (DWD). Learn more about the
      <a
        href="https://www.meteostat.net/sources"
        title="meteostat Sources"
        target="_blank"
      >sources</a>.
    </p>
    <!-- <div>Weather station icon made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->
  </div>
</template>

<script>
// @ is an alias to /src
import axios from "axios";
import VueGridLayout from "@/libraries/vue-grid-layout.umd";
import TheTitle from "@/components/TheTitle";
import WidgetStations from "@/components/WidgetStations";
import WidgetSensors from "@/components/WidgetSensors";
import WidgetTimeArchive from "@/components/WidgetTimeArchive";
import WidgetDataArchive from "@/components/WidgetDataArchive";
import WidgetTimeLatest from "@/components/WidgetTimeLatest";
import WidgetDataLatest from "@/components/WidgetDataLatest";
import DragIcon from "vue-material-design-icons/Drag";
import ResizeIcon from "vue-material-design-icons/ResizeBottomRight";

const GridLayout = VueGridLayout.GridLayout;
const GridItem = VueGridLayout.GridItem;

const defaultLocation = {
  lat: 48.8543,
  lon: 2.3527,
  city: "Paris",
  country: "France",
  timezone: "Europe/Paris"
};

//TODO: refactor config to allow mixed graph for windspeed+peakgust together
const config = [
  { id: "stations", title: "Stations", suffix: null, draggable: true, checked: true, order: 0 },
  { id: "sensors", title: "Sensors", suffix: null, draggable: true, checked: true, order: 1 },
  { id: "timeline", title: "Date Range", suffix: null, draggable: true, checked: true, order: 2 },
  { id: "temperature", title: "Temperature", suffix: "°C", draggable: true, checked: true, order: 3 },
  { id: "humidity", title: "Humidity", suffix: "%", draggable: true, checked: true, order: 4 },
  { id: "pressure", title: "Air Pressure", suffix: " hPa", draggable: true, checked: true, order: 5 },
  { id: "precipitation", title: "Precipitations", suffix: " mm", draggable: true, checked: true, order: 6 },
  { id: "winddirection", title: "Wind Direction", suffix: "°", draggable: true, checked: true, order: 7 },
  { id: "windspeed", title: "Wind Speed", suffix: " kn", draggable: true, checked: true, order: 8 },
  { id: "condition", title: "Weather Condition", suffix: "", draggable: true, checked: true, order: 9 }
];

const layoutLg = [
  { i: "stations", x: 0, y: 0, w: 3, h: 9 },
  { i: "sensors", x: 0, y: 9, w: 3, h: 5 },
  { i: "timeline", x: 3, y: 0, w: 12, h: 3 },
  { i: 0, x: 3, y: 3, w: 4, h: 7 },
  { i: 1, x: 7, y: 3, w: 4, h: 7 },
  { i: 2, x: 11, y: 3, w: 4, h: 7 },
  { i: 3, x: 3, y: 10, w: 4, h: 7 },
  { i: 4, x: 7, y: 10, w: 4, h: 7 },
  { i: 5, x: 11, y: 10, w: 4, h: 7 },
  { i: 6, x: 3, y: 17, w: 4, h: 7 }
];

const layoutMd = [
  { i: "stations", x: 0, y: 0, w: 3, h: 9 },
  { i: "sensors", x: 0, y: 9, w: 3, h: 5 },
  { i: "timeline", x: 3, y: 2, w: 8, h: 3 },
  { i: 0, x: 3, y: 3, w: 4, h: 5 },
  { i: 1, x: 7, y: 3, w: 4, h: 5 },
  { i: 2, x: 3, y: 8, w: 4, h: 5 },
  { i: 3, x: 7, y: 8, w: 4, h: 5 },
  { i: 4, x: 3, y: 13, w: 4, h: 5 },
  { i: 5, x: 7, y: 13, w: 4, h: 5 },
  { i: 6, x: 3, y: 18, w: 4, h: 5 }
];

const layoutSm = [
  { i: "stations", x: 0, y: 0, w: 5, h: 4 },
  { i: "sensors", x: 5, y: 0, w: 3, h: 4 },
  { i: "timeline", x: 0, y: 4, w: 8, h: 3 },
  { i: 0, x: 0, y: 7, w: 4, h: 5 },
  { i: 1, x: 4, y: 7, w: 4, h: 5 },
  { i: 2, x: 0, y: 12, w: 4, h: 5 },
  { i: 3, x: 4, y: 12, w: 4, h: 5 },
  { i: 4, x: 0, y: 17, w: 4, h: 5 },
  { i: 5, x: 4, y: 17, w: 4, h: 5 },
  { i: 6, x: 0, y: 22, w: 4, h: 5 }
];

const layoutXs = [
  { i: "stations", x: 0, y: 0, w: 3, h: 4 },
  { i: "sensors", x: 3, y: 0, w: 3, h: 4 },
  { i: "timeline", x: 0, y: 4, w: 6, h: 3 },
  { i: 0, x: 0, y: 7, w: 6, h: 5 },
  { i: 1, x: 0, y: 12, w: 6, h: 5 },
  { i: 2, x: 0, y: 17, w: 6, h: 5 },
  { i: 3, x: 0, y: 22, w: 6, h: 5 },
  { i: 4, x: 0, y: 27, w: 6, h: 5 },
  { i: 5, x: 0, y: 32, w: 6, h: 5 },
  { i: 6, x: 0, y: 37, w: 6, h: 5 }
];

const layoutXxs = [
  { i: "stations", x: 0, y: 0, w: 1, h: 5 },
  { i: "sensors", x: 1, y: 0, w: 1, h: 5 },
  { i: "timeline", x: 0, y: 5, w: 2, h: 4 },
  { i: 0, x: 0, y: 9, w: 2, h: 5 },
  { i: 1, x: 0, y: 14, w: 2, h: 5 },
  { i: 2, x: 0, y: 19, w: 2, h: 5 },
  { i: 3, x: 0, y: 24, w: 2, h: 5 },
  { i: 4, x: 0, y: 29, w: 2, h: 5 },
  { i: 5, x: 0, y: 34, w: 2, h: 5 },
  { i: 6, x: 0, y: 39, w: 2, h: 5 }
];

const colorScheme = ["#E58606", "#5D69B1", "#52BCA3", "#99C945", "#CC61B0"];

export default {
  name: "home",
  components: {
    WidgetTimeArchive,
    GridLayout,
    GridItem,
    DragIcon,
    ResizeIcon,
    TheTitle,
    WidgetStations,
    WidgetSensors,
    WidgetDataArchive,
    WidgetDataLatest,
    WidgetTimeLatest
  },
  data() {
    return {
      config: config,
      layout: layoutLg,
      layouts: { lg: layoutLg, md: layoutMd, sm: layoutSm, xs: layoutXs, xxs: layoutXxs },
      breakpoints: { lg: 1400, md: 996, sm: 670, xs: 430, xxs: 0 },
      breakpoint: "md",
      columns: { lg: 15, md: 11, sm: 8, xs: 6, xxs: 2 },
      stations: [],
      checkedStations: [],
      checkedSensors: [],
      dateBounds: {
        dateMin: new Date(2019, 0, 22).getTime(),
        dateStart: Date.now() - 3 * 24 * 3600 * 1000,
        dateEnd: Date.now()
      },
      location: defaultLocation,
      displayArchive: true,
      colorScheme: colorScheme
    };
  },
  computed: {
    sensors() {
      return this.config.filter(item => item.suffix !== null);
    },
    isSmall() {
      return this.breakpoints[this.breakpoint] <= this.breakpoints.sm;
    },
    isExtraSmall() {
      return this.breakpoints[this.breakpoint] <= this.breakpoints.xs;
    }
  },

  async created() {
    this.checkedSensorsChanged(this.sensors);

    // Try to obtain location from IP, otherwise use default position
    let location = defaultLocation;
    try {
      const response = await this.getLocationFromIp();
      if (response.status === "success") {
        const { lat, lon, city, country, timezone } = response;
        location = { lat, lon, city, country, timezone };
      }
      console.log(location);
    } catch (e) {
      // console.error(e);
    }
    this.location = location;

    // Now search weather stations around the location
    // TODO: use placeholder when loading to avoid too much movement in layout?
    let stations = [];
    try {
      stations = await this.getStationsFromLocation(location.lat, location.lon);
    } catch (e) {
      console.error(e);
    }
    // TODO: If no stations, ask user for another location?

    // Get the position of the stations and initialize props
    for (const station of stations) {
      try {
        station.latLng = await this.getMetadataFromStationId(station.id);
      } catch (e) {
        console.error(e);
      }
      station.color = colorScheme[this.stations.length];
      station.data = [];
      this.stations.push(station);
    }
    this.checkedStations = stations;

    // Finally get data for each station
    for (const station of stations) {
      try {
        station.data = await this.getDataFromStationId(station.id, "hourly");
      } catch (e) {
        // console.error(e);
      }
    }
  },

  methods: {
    // TODO: add method for resetting layout?
    responsiveLayoutUpdated(breakpoint, layout) {
      this.breakpoint = breakpoint;
    },
    displayArchiveChanged(value) {
      this.displayArchive = value;
    },
    checkedStationsChanged(value) {
      this.checkedStations = value;
    },
    checkedSensorsChanged(value) {
      this.checkedSensors = value.filter(item => item.suffix !== null);
      // when sensors are unchecked, regroup them at the bottom of the config
      for (let item of this.config) {
        item.checked = !this.sensors.includes(item) || this.checkedSensors.includes(item);
      }
      this.config.sort((a, b) => a.order - b.order); // reorder them by original order first
      this.config.sort((a, b) => b.checked - a.checked); // then put unchecked at the bottom
    },
    dateBoundsChanged(value) {
      //TODO: block new changes until refresh!
      this.dateBounds = {
        dateMin: this.dateBounds.dateMin,
        dateStart: value.min,
        dateEnd: value.max
      };
    },
    async getLocationFromIp() {
      return axios.get("/ip-ap", {
        params: { fields: "status,message,country,city,lat,lon,timezone" }
      });
    },
    async getStationsFromLocation(lat, lon) {
      return axios
        .get("/meteo-api/stations/nearby", {
          params: { lat: lat, lon: lon, limit: 5, key: process.env.VUE_APP_METEOSTAT_KEY }
        })
        .then(response => response.data.data);
    },
    async getMetadataFromStationId(id) {
      return axios
        .get("/meteo-api/stations/meta", {
          params: { station: id, key: process.env.VUE_APP_METEOSTAT_KEY }
        })
        .then(response => [Number(response.data.data.latitude), Number(response.data.data.longitude)]);
    },

    async getDataFromStationId(id, type = "daily") {
      if (this.dateBounds.dateEnd - this.dateBounds.dateStart < 2 * 7 * 24) {
        type = "hourly";
      }
      const sensorsWithNullValues = ["snowdepth", "precipitation_3", "precipitation_6"];
      return axios
        .get("/meteo-api/history/" + type, {
          params: {
            station: id,
            start: new Date(this.dateBounds.dateStart).toISOString().substring(0, 10),
            end: new Date(this.dateBounds.dateEnd).toISOString().substring(0, 10),
            time_zone: this.location.timezone,
            time_format: "c", // Full ISO date format with time zone offset
            key: process.env.VUE_APP_METEOSTAT_KEY
          }
        })
        .then(response => response.data.data)
        .then(data => {
          //TODO: use sensors from config instead?
          const newData = {};
          for (const epoch of data) {
            const time = new Date(epoch.time_local);
            const sensors = Object.keys(epoch).filter(key => !key.includes("time"));
            for (const sensor of sensors) {
              if (!(sensor in newData)) {
                newData[sensor] = [];
              }
              if (!sensorsWithNullValues.includes(sensor) || epoch[sensor] !== null) {
                newData[sensor].push({ x: time, y: epoch[sensor] });
              }
            }
          }
          return newData;
        });
    }
  }
};
</script>

<style>
.vue-grid-item {
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 40px -22px #707070;
  padding-bottom: 20px;
  box-sizing: border-box;
  overflow: visible;
  background-color: white;
  z-index: auto;
}
.vue-grid-item h3 {
  margin: 10px 0;
}
.vue-grid-item > div {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  z-index: auto;
  background-color: white;
}
.vue-grid-item > div .material-design-icon {
  position: absolute;
  visibility: visible;
}
.vue-grid-item > div .material-design-icon svg {
  fill: darkgray;
}
.drag-icon {
  top: 10px;
  left: 10px;
}
.fullscreen-icon {
  top: 10px;
  right: 10px;
}
.resize-bottom-right-icon {
  bottom: -10px;
  right: 9px;
}
.material-design-icon.zoom.x1-5 {
  height: 1.5em;
  width: 1.5em;
}
.material-design-icon.zoom svg {
  height: 100%;
  width: 100%;
}
.vue-resizable-handle {
  visibility: hidden;
}
.chart {
  box-sizing: border-box;
  padding: 0 10px;
}
</style>
