<template>
  <svg
    viewBox="0 0 25.3 40.4"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
  >
    <defs>
      <linearGradient :id="'a' + originalColor" x1=".5" x2=".5" y1="1">
        <stop :stop-color="fillDark" offset="0" />
        <stop :stop-color="fillLight" offset="1" />
      </linearGradient>
      <linearGradient :id="'b' + originalColor" x1=".4" x2=".4" y1=".5">
        <stop :stop-color="strokeDark" offset="0" />
        <stop :stop-color="strokeLight" offset="1" />
      </linearGradient>
    </defs>
    <rect y="6" x="6" height="12" width="12" fill="#fff" />
    <g stroke-linecap="round" stroke-width="1.1">
      <path
        :fill="'url(#a' + originalColor + ')'"
        :stroke="'url(#b' + originalColor + ')'"
        transform="translate(-403.9 -503)"
        d="m416.54 503.61c-6.573 0-12.044 5.691-12.044 11.866 0 2.778 1.564 6.308 2.694 8.746l9.306 17.872 9.262-17.872c1.13-2.438 2.738-5.791 2.738-8.746 0-6.175-5.383-11.866-11.956-11.866zm0 7.155c2.584 0.016998 4.679 2.122 4.679 4.71s-2.095 4.663-4.679 4.679c-2.584-0.017029-4.679-2.09-4.679-4.679 0-2.588 2.095-4.693 4.679-4.71z"
      />
      <path
        fill="none"
        stroke="#fff"
        stroke-opacity="0.122"
        d="m12.63 1.719c-5.944 0-10.938 5.219-10.938 10.75 0 2.359 1.443 5.832 2.563 8.25l0.031006 0.031006 8.313 15.969 8.25-15.969 0.031006-0.031006c1.135-2.448 2.625-5.706 2.625-8.25 0-5.538-4.931-10.75-10.875-10.75zm0 4.969c3.168 0.020996 5.781 2.601 5.781 5.781s-2.613 5.761-5.781 5.781c-3.168-0.02002-5.75-2.61-5.75-5.781 0-3.172 2.582-5.761 5.75-5.781z"
      />
    </g>
  </svg>
</template>

<script>
import * as tinycolor from "tinycolor2";

const fillDeltaH = 3;
const fillDeltaS = 14 / 100;
const fillDeltaV = 2 / 100;
const strokeDeltaH = -1;
const strokeDeltaS = -8 / 100;
const strokeDeltaVLight = -8 / 100;
const strokeDeltaVDark = -21 / 100;

export default {
  props: {
    originalColor: {
      type: String,
      default: "#2f88cc"
    }
  },
  computed: {
    fillLight() {
      const color = tinycolor(this.originalColor).toHsv();
      const newH = this.calculateH(color.h, fillDeltaH, "lighter");
      // When lighter, saturation goes down and value goes up.
      return tinycolor({
        h: newH,
        s: this.clamp(color.s - fillDeltaS),
        v: this.clamp(color.v + fillDeltaV)
      }).toHexString();
    },
    fillDark() {
      const color = tinycolor(this.originalColor).toHsv();
      const newH = this.calculateH(color.h, fillDeltaH, "darker");
      // When darker, saturation goes up and value goes down.
      return tinycolor({
        h: newH,
        s: this.clamp(color.s + fillDeltaS),
        v: this.clamp(color.v - fillDeltaV)
      }).toHexString();
    },
    strokeLight() {
      const color = tinycolor(this.originalColor).toHsv();
      return tinycolor({
        h: (color.h + strokeDeltaH) % 360,
        s: this.clamp(color.s + strokeDeltaS),
        v: this.clamp(color.v + strokeDeltaVLight)
      }).toHexString();
    },
    strokeDark() {
      const color = tinycolor(this.originalColor).toHsv();
      return tinycolor({
        h: (color.h + strokeDeltaH) % 360,
        s: this.clamp(color.s + strokeDeltaS),
        v: this.clamp(color.v + strokeDeltaVDark)
      }).toHexString();
    }
  },
  methods: {
    calculateH(h, deltaH, mode = "lighter") {
      // When darker, hue should go towards Red, Green, or Blue.
      // When lighter, hue should go towards Yellow, Cyan, or Magenta.
      if (h % 60 === 0) {
        return h;
      }
      const hFactor = Math.floor(h / 60);
      const floorIsEven = hFactor % 2 === 0;
      let sign = (floorIsEven && mode === "lighter") || (!floorIsEven && mode === "darker") ? 1 : -1;
      const newH = h + sign * deltaH;
      return sign === 1 ? Math.min(newH, (hFactor + 1) * 60) : Math.max(newH, hFactor * 60);
    },
    clamp(value, min = 0, max = 1) {
      return Math.min(Math.max(value, min), max);
    }
  }
};
</script>