<template>
  <div class="hello">
    <img alt="Vue logo" src="../assets/logo.png" :class="{sm: isSmall}" />
    <h1>Weather Dashboard</h1>
  </div>
</template>

<script>
export default {
  props: {
    isSmall: Boolean
  }
};
</script>

<style scoped>
h1 {
  margin-top: 0;
}
img.sm {
  width: 20%;
  min-width: 30px;
}
</style>
