<template>
  <div id="mapParent">
    <h4>Map</h4>
    <p>Current location: {{location.city}}, {{location.country}}</p>
    <div id="myMap"></div>
    <div style="display:none">
      <pan-icon ref="icon" class="zoom x1-5" title />
      <!-- <tower-icon 
        ref="tower"
        class="tower-icon"
        title=""
      />-->
      <custom-marker
        v-for="color of colorScheme"
        :key="color"
        :ref="color"
        :original-color="color"
        width="25"
        height="41"
      />
      <custom-marker
        v-for="color of colorScheme"
        :key="color + '2x'"
        :ref="color + '2x'"
        :original-color="color"
        width="50"
        height="82"
      />
    </div>
  </div>
</template>

<script>
import L from "leaflet";
import "leaflet-easybutton";
import PanIcon from "vue-material-design-icons/Pan";
// import TowerIcon from 'vue-material-design-icons/VideoInputAntenna';
import "@/libraries/L.VisualClick";
import CustomMarker from "@/components/CustomMarker";

export default {
  components: {
    PanIcon,
    // TowerIcon,
    CustomMarker
  },
  props: {
    stations: Array,
    location: Object,
    colorScheme: Array
  },
  data() {
    return {
      map: null,
      markers: []
    };
  },
  computed: {
    stationsWithLatLng() {
      return this.stations.filter(item => item.latLng.length > 0);
    },
    bounds() {
      if (this.stationsWithLatLng.length > 0) {
        return L.latLngBounds(this.stationsWithLatLng.map(p => p.latLng));
      }
      return L.latLng(this.location.lat, this.location.lon).toBounds(1000000);
    }
  },
  watch: {
    stationsWithLatLng(val) {
      this.updateMarkers();
    }
  },
  mounted() {
    this.initMap();
  },
  methods: {
    initMap() {
      this.map = L.map("myMap", { zoomControl: false, maxZoom: 12 });
      L.tileLayer("https://cartodb-basemaps-{s}.global.ssl.fastly.net/rastertiles/voyager/{z}/{x}/{y}.png", {
        maxZoom: 18,
        attribution:
          '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>, &copy; <a href="https://carto.com/attribution">CARTO</a>'
      }).addTo(this.map);
      L.control.scale({ maxWidth: 80, imperial: false }).addTo(this.map);
      L.easyButton(this.$refs.icon.$el.outerHTML, this.fit, "Show the whole area").addTo(this.map);
      this.map.addHandler("visualClick", L.Map.VisualClick);
      this.map.visualClick.enable();
      this.updateMarkers();
    },
    updateMarkers() {
      for (let marker of this.markers) marker.remove();
      this.markers = [];
      for (let station of this.stationsWithLatLng) {
        const iconUrl = this.getMarkerIconBase64(station.color);
        const iconRetinaUrl = this.getMarkerIconBase64(station.color + "2x");
        const icon = L.icon({ ...L.Icon.Default.prototype.options, iconUrl, iconRetinaUrl });
        let marker = L.marker(station.latLng, { icon: icon });
        marker.bindTooltip(station.name).openTooltip();
        marker.addTo(this.map);
        this.markers.push(marker);
      }
      setTimeout(this.fit, 500);
    },
    fit() {
      this.map.fitBounds(this.bounds.pad(0.2));
    },
    getMarkerIconBase64(refString) {
      return "data:image/svg+xml;base64," + window.btoa(this.$refs[refString][0].$el.outerHTML);
    }
  }
};
</script>

<style src='../libraries/L.VisualClick.css'></style>
<style>
#mapParent {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
#mapParent.sm h4 {
  display: none;
}
#myMap {
  flex-grow: 1;
  margin: 0 10px;
  min-width: 100px;
}
.easy-button-button {
  padding: 0;
}
#myMap .pan-icon {
  position: relative;
}
.easy-button-button .material-design-icon.zoom.x1-5 {
  font-size: 1.1em;
}
/* .tower-icon {
    top: -5px;
    left: -2px;
    font-size: 2em;
  } */
</style>
