<template>
  <div id="stations" :class="{ sm: isSmall }">
    <div id="stationsList">
      <ul>
        <li v-for="station in stations" :key="station.id">
          <input type="checkbox" :id="station.id" :value="station" v-model="checkedStationsLocal" />
          <label :for="station.id">
            <!-- <tower-fire
              class="zoom x1-5"
              title="Online"
              decorative
            />-->
            <span class="color" :style="{'background-color':station.color}"></span>
            {{ station.name }}
            <span class="url">({{ Math.round(station.distance * 1.60934)}} km)</span>
          </label>
        </li>
      </ul>
      <div class="select" :class="{xxs: isExtraSmall}">
        <button @click="selectAll">Select all</button>
        <button @click="deselectAll">Deselect all</button>
      </div>
    </div>
    <!-- <div class="display">
      <h4>Display mode</h4>
      <label>
        <input
          type="radio"
          v-model="displayArchiveLocal"
          :value=false
        />
        Latest data
      </label>
      <label class="inactive">
        <input
          type="radio"
          v-model="displayArchiveLocal"
          :value=true
        />
        Archive data
      </label>
    </div>-->
    <widget-stations-map
      v-if="!isExtraSmall"
      :stations="checkedStations"
      :location="location"
      :color-scheme="colorScheme"
      :class="{ sm: isSmall }"
    />
  </div>
</template>

<script>
import WidgetStationsMap from "@/components/WidgetStationsMap";
// import TowerFire from 'vue-material-design-icons/TowerFire';

export default {
  components: {
    WidgetStationsMap
  },
  props: {
    stations: Array,
    checkedStations: Array,
    location: Object,
    colorScheme: Array,
    isSmall: Boolean,
    isExtraSmall: Boolean,
    displayArchive: Boolean
  },
  computed: {
    checkedStationsLocal: {
      get() {
        return this.checkedStations;
      },
      set(val) {
        this.$emit("checked-stations-changed", val);
      }
    },
    displayArchiveLocal: {
      get() {
        return this.displayArchive;
      },
      set(val) {
        this.$emit("display-archive-changed", val);
      }
    }
  },
  methods: {
    selectAll() {
      this.checkedStationsLocal = this.stations;
    },
    deselectAll() {
      this.checkedStationsLocal = [];
    }
  }
};
</script>

<style scoped>
#stations {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#stationsList {
  flex-direction: column;
  min-height: 170px;
}
#stationsList .material-design-icon {
  position: relative;
}
/* .display label {
    margin: 0 5px;
  } */
.select {
  padding: 0 10px;
}
.select.xxs {
  padding: 0;
}
.select button {
  min-width: 0;
}
.select.xxs button {
  padding: 0;
  font-size: small;
}
ul {
  margin-right: 10px;
  padding-left: 20px;
}
li {
  text-align: left;
  list-style: none;
}
li span.url {
  font-size: 0.8em;
  font-style: italic;
  color: #666;
}
li span.color {
  display: inline-block;
  width: 0.8em;
  height: 0.8em;
  border-radius: 2px;
}
h4 {
  margin-bottom: 0.5em;
}
</style>
