<template>
  <date-picker mode="range" v-model="range" :is-expanded="false" class="toto" />
</template>

<script>
import DatePicker from "v-calendar/lib/components/date-picker.umd";

export default {
  components: {
    DatePicker
  },
  props: {
    dateBounds: Object
  },
  data() {
    return {
      range: {
        start: new Date(this.dateBounds.dateStart),
        end: new Date(this.dateBounds.dateEnd)
      }
    };
  },
  mounted() {},
  methods: {}
};
</script>

<style>
.vc-w-full {
  width: initial !important;
}
</style>
