<template>
  <chart-line v-if="loaded" :chart-data="chartData" :options="options" class="chart"></chart-line>
</template>

<script>
import ChartLine from "@/components/ChartLine";

export default {
  components: {
    ChartLine
  },
  props: {
    checkedStations: Array,
    name: String,
    suffix: String,
    callName: String,
    dateBounds: Object
  },
  computed: {
    chartData() {
      const datasets = [];
      for (const station of this.checkedStations) {
        datasets.push({
          label: station.name,
          data: station.data[this.callName],
          backgroundColor: station.color,
          borderColor: station.color,
          fill: false,
          borderWidth: 2,
          pointRadius: 0,
          hitRadius: 0
        });
      }
      return { datasets };
    },
    options() {
      return {
        responsive: true,
        maintainAspectRatio: false,
        // onResize: function(chart, newValue) {
        //   console.log(newValue);
        // },
        tooltips: {
          mode: "index",
          intersect: false,
          position: "nearest",
          itemSort: (a, b) => b.value - a.value,
          callbacks: {
            label: (tooltipItem, data) => {
              return data.datasets[tooltipItem.datasetIndex].label + ": " + tooltipItem.yLabel + this.suffix;
            }
          }
        },
        legend: {
          display: false
        },
        scales: {
          xAxes: [
            {
              type: "time",
              display: true,
              ticks: {
                major: {
                  fontStyle: "bold",
                  fontColor: "#FF0000"
                },
                maxRotation: 30
              },
              time: {
                stepSize: 2,
                displayFormats: {
                  hour: "MM/DD H\\h"
                }
              }
            }
          ],
          yAxes: [
            {
              display: true,
              scaleLabel: {
                display: true,
                labelString: this.suffix
              }
            }
          ]
        }
      };
    },
    dateStart() {
      return this.dateBounds.dateStart / 1000;
    },
    dateEnd() {
      return this.dateBounds.dateEnd / 1000;
    },
    loaded() {
      return this.checkedStations.length > 0;
    }
  },
  watch: {
    dateBounds(newValue) {
      //TODO: do not recreate if new bounds inside old ones
      // this.createChart();
    }
  },
  mounted() {
    // this.refresh();
  }
};
</script>

<style scoped>
.chart {
  position: relative;
  height: calc(100% - 30px);
}
</style>
