<template>
  <div>
    <p>
      <strong>Latest refresh:</strong>
      {{ this.latestDate }}
    </p>
  </div>
</template>

<script>
export default {
  computed: {
    latestDate() {
      return new Date().toLocaleString("en-US");
    }
  }
};
</script>

<style scoped>
p {
  font-size: 1.5em;
}
</style>
