<template>
  <div>
    <ul>
      <li v-for="(value, stationName) of stationsData" :key="stationName">
        <strong>{{ stationName }}:</strong>
        {{ value }}{{ suffix }}
      </li>
    </ul>
  </div>
</template>

<script>
import axios from "axios";

export default {
  props: {
    callName: String,
    checkedStations: Array,
    suffix: String
  },
  data() {
    return {
      stationsData: {}
    };
  },
  computed: {
    checkedStationsOnline() {
      return this.checkedStations.filter(station => station.online);
    }
  },
  watch: {
    async checkedStationsOnline(newValue) {
      await this.getLatestInfo();
    }
  },
  methods: {
    async getLatestInfo() {
      let promises = [];
      for (let station of this.checkedStationsOnline) {
        promises.push(
          axios
            .get("http://" + station.url + "/last", {
              params: {
                capteur_type: this.callName
              }
            })
            .then(response => response.data)
            .then(data => {
              this.stationsData[station.id] = data.measurements[this.callName];
              this.stationsData = Object.assign({}, this.stationsData);
            })
            .catch(err => {
              // console.log(err);
            })
        );
        await Promise.all(promises);
      }
    }
  }
};
</script>

<style scoped>
</style>
