<template>
  <div id="sensors" :class="{ sm: isSmall }">
    <ul>
      <li v-for="sensor in sensorsOrdered" :key="sensor.title">
        <label>
          <input
            type="checkbox"
            :id="sensor.title"
            :disabled="!displayArchive && sensor.id === 'rain'"
            :value="sensor"
            v-model="checkedSensorsLocal"
          />
          {{ sensor.title }}
        </label>
      </li>
    </ul>
    <div class="select" :class="{xxs: isExtraSmall}">
      <button @click="selectAll">Select all</button>
      <button @click="deselectAll">Deselect all</button>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    sensors: Array,
    checkedSensors: Array,
    isSmall: Boolean,
    isExtraSmall: Boolean,
    displayArchive: Boolean
  },
  computed: {
    checkedSensorsLocal: {
      get() {
        return this.checkedSensors.filter(sensor => this.displayArchive || sensor.id !== "rain");
      },
      set(val) {
        this.$emit("checked-sensors-changed", val);
      }
    },
    sensorsOrdered() {
      return this.sensors.sort((a, b) => a.order - b.order);
    }
  },
  methods: {
    selectAll() {
      this.checkedSensorsLocal = this.sensors;
    },
    deselectAll() {
      this.checkedSensorsLocal = [];
    }
  }
};
</script>

<style scoped>
ul {
  padding-left: 20px;
}
li {
  text-align: left;
  list-style: none;
}
.select {
  padding: 0 10px;
  margin-bottom: 10px;
}
.select.xxs {
  padding: 0;
}
.select button {
  min-width: 0;
}
.select.xxs button {
  padding: 0;
  font-size: small;
}
</style>
